In [1]:
# Create a list using []
a = [1, 2 , 4, 56, 6]

# Print the list using print() function
print(a)

# Access using index using a[0], a[1], a[2]
print(a[2])

# Change the value of list using
a[0] = 98
print(a)

# We can create a list with items of different types
c = [45, "Harry", False, 6.9]
print(c[1])

[1, 2, 4, 56, 6]
4
[98, 2, 4, 56, 6]
Harry

In [2]:
# List slicing
friends = ["Harry", "Tom", "Rohan", "Sam", "Divya", 45]
print(friends[0:4])
print(friends[-4:])

['Harry', 'Tom', 'Rohan', 'Sam']
['Rohan', 'Sam', 'Divya', 45]

# LIST METHODS

In [12]:
l1 = [1, 8, 7, 2, 21, 15]
print(l1)
#l1.sort() # sorts the list
#l1.reverse() # reverses the list
#l1.append(45) # adds 45 at the end of the list 
#l1.insert(2, 544) # inserts 544 at index 2
#l1.pop(2) # removes element at index 2
l1.remove(21) # removes 21 from the list
print(l1)

[1, 8, 7, 2, 21, 15]
[1, 8, 7, 2, 15]

# TUPLES

In [15]:
# Creating a tuple using ()
t = (1, 2, 4, 5)

# t1 = () # Empty tuple
# t1 = (1) # Wrong way to declare a Tuple with Single element
t1 = (1,) # Tuple with Single element
print(t1)

# Printing the elements of a tuple
print(t[0])

# Cannot update the values of a tuple
t[0] = 34 # throws an error

(1,)
1

TypeError: 'tuple' object does not support item assignment

In [16]:
# Creating a tuple using ()
t = (1, 2, 4, 5, 4, 1, 2,1 ,1)

print(t.count(1))
print(t.index(5))

4
3