#List stores set of values  of any datatypes

# List Properties

1.Ordered
2.Duplicates present
3.Mutable
4.Can have any data type

# Creating List

In [2]:
my_list= [1, 8.0 ,"Shreya" , [1,2,3]]  
my_list #Gives the same output as the way it has been intitialilized hence ordered

[1, 8.0, 'Shreya', [1, 2, 3]]

In [3]:
#Accessing the element
print(my_list[0])
print(my_list[-1])

#Accessing list in list
print(my_list[-1][0]) 
print(my_list[-1][-1])

1
[1, 2, 3]
1
3

# Add values to list

In [4]:
#Append adds values to end of the list
my_list.append("Kiran")
my_list.append("126.88")

#list will get added as list
my_list.append("[1,1,1]")
my_list

[1, 8.0, 'Shreya', [1, 2, 3], 'Kiran', '126.88', '[1,1,1]']

# Add list as values to the list

In [5]:
#extends adds values in the lists to the list at the end
my_list.extend([2,3,4])
my_list.extend([10,20,30])
my_list

[1,
 8.0,
 'Shreya',
 [1, 2, 3],
 'Kiran',
 '126.88',
 '[1,1,1]',
 2,
 3,
 4,
 10,
 20,
 30]

# Slicing

In [6]:
#0 to 9
l=list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [9]:
#print even no in the list
l[2:10:2]

[2, 4, 6, 8]

In [10]:
#print odd no in the list
l[1:10:2]

[1, 3, 5, 7, 9]

# Insert a value at a given position

In [11]:
l.insert(0,"Shreya")
l

['Shreya', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Methods

In [12]:
#1 sort()

L1=[1,8,7,2,21,15]
L1.sort()
L1

[1, 2, 7, 8, 15, 21]

In [15]:
#2 reverse()

L1=[1,8,7,2,21,15]
L1.reverse()
L1

[15, 21, 2, 7, 8, 1]

In [18]:
L1=[1,8,7,2,21,15]
L1[::-1]

[15, 21, 2, 7, 8, 1]

In [19]:
#3 add element to last

L1=[1,8,7,2,21,15]
L1.append(8)
L1

[1, 8, 7, 2, 21, 15, 8]

In [20]:
#4 insert value at a given position

L1=[1,8,7,2,21,15]
L1.insert(3,8)
L1

[1, 8, 7, 8, 2, 21, 15]

In [25]:
#5 removes element at given position and return it as output

L1=[1,8,7,2,21,15]
L1.pop() #REMOVES FROM END
L1.pop(3) #REMOVES at a given position
L1

[1, 8, 7, 21]

In [16]:
#6 removes element but does not return it as output

L1=[1,8,7,2,21,15]
L1.remove(8) 
L1

[1, 7, 2, 21, 15]