# 1

In [1]:
f1 = input("Enter Fruit Number 1: ")
f2 = input("Enter Fruit Number 2: ")
f3 = input("Enter Fruit Number 3: ")
f4 = input("Enter Fruit Number 4: ")
f5 = input("Enter Fruit Number 5: ")
f6 = input("Enter Fruit Number 6: ")
f7 = input("Enter Fruit Number 7: ")

myFruitList = [f1, f2, f3, f4, f5, f6, f7]
print(myFruitList)

Enter Fruit Number 1: orange
Enter Fruit Number 2: mango
Enter Fruit Number 3: banana
Enter Fruit Number 4: apple
Enter Fruit Number 5: chiku
Enter Fruit Number 6: grapes
Enter Fruit Number 7: plum
['orange', 'mango', 'banana', 'apple', 'chiku', 'grapes', 'plum']

# 2

In [2]:
m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2: "))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))
m5 = int(input("Enter Marks for Student Number 5: "))
m6 = int(input("Enter Marks for Student Number 6: "))

myList = [m1, m2, m3, m4, m5, m6]
myList.sort()
print(myList)

Enter Marks for Student Number 1: 22
Enter Marks for Student Number 2: 59
Enter Marks for Student Number 3: 98
Enter Marks for Student Number 4: 78
Enter Marks for Student Number 5: 89
Enter Marks for Student Number 6: 65
[22, 59, 65, 78, 89, 98]

# 3

In [3]:
a = (2,4,5,3,2)
a[0] = 45

TypeError: 'tuple' object does not support item assignment

# 4

In [4]:
a = [2, 4, 56, 7]

print(a[0] + a[1] + a[2] + a[3])
print(sum(a))

69
69

# 5

In [5]:
a=(7,0,8,0,0,9)
a.count(0)

3